body {
  font-family: 'Poppins', sans-serif;
  background-color: #add8e63b;
}

nav{
    background-color: darkgrey;
}

.nav-item{
/*    background-color: lightgray;*/
    margin:2px;
    padding: 0px;
    border-radius: 25px;
    text-align: center;
     border : 1px solid white;
}

.nav-item:hover{
/*    background-color: lightblue;*/
    border : 1px solid lightblue;
    font-weight: 400;
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    font-weight: bold;
    border: 1px dotted lightblue;
     border-radius: 25px;
}

#indexhome{
    position: relative;
    background-image: url('image/whitebg.webp');
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 50px;

}

@media only screen and (max-width: 600px) {
     #indexhome{
           height: 84vh;
      }
}

.typed-out {
    border-right: none; 
    width: auto; 
    animation: none;
  }
  
  /* Apply animation only on desktop */
  @media screen and (min-width: 768px) {
    .typed-out {
      border-right: .15em solid rgba(255, 166, 0, 0.76);
      animation: typing 4s steps(10) infinite;
      overflow: hidden;
      white-space: nowrap;
    }
      
     
  
    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }
  }


/* Learn More Button Animation */
.learn-more-btn {
  animation: bounce 1.5s infinite;
}

/* Up and Down Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card{
    cursor: pointer;
}

.card img{
    align-self: center
}

.card p{
    color: green;
    font-size: 16px;
}

.card:hover{
    transform: scale(0.98);
    img{
         transform: scale(1.2);
          transition: 1s;
    }
    transition: 1s;
}


.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


.eduinner{
    margin-top: 20px;
    text-align: center;
}

.expinner{
   margin-top: 20px;
   text-align: center;
}

.pro-img-top{
    height: 70px;
    width: 100px;
}




footer{
    margin-top: 10px;
    padding: 8px;
}

footer a {
  color: lightgreen;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}